<h2 class="text-center fw-bolder my-4">WhishList</h2>

@if (isloading) {
<div class="container">
  <div class="row">
    @for (_ of [1,2,3,4,5,6,7,8,9,10,11,12]; track $index) {
    <div class="col-md-3 mb-4">
      <ngx-skeleton-loader
        class="skeleton-card p-3"
        animation="pulse"
        appearance="custom-content"
        [theme]="{
          borderRadius: '10px',
          height: '350px',
          width: '100%'
        }"
      >
        <ngx-skeleton-loader
          class="w-100 mb-2"
          [theme]="{ height: '200px', borderRadius: '10px' }"
        ></ngx-skeleton-loader>

        <ngx-skeleton-loader
          class="w-75 mb-2"
          [theme]="{ height: '20px', borderRadius: '5px' }"
        ></ngx-skeleton-loader>

        <ngx-skeleton-loader
          class="w-50 mb-3"
          [theme]="{ height: '20px', borderRadius: '5px' }"
        ></ngx-skeleton-loader>

        <ngx-skeleton-loader
          class="w-100"
          [theme]="{ height: '30px', borderRadius: '10px' }"
        ></ngx-skeleton-loader>
      </ngx-skeleton-loader>
    </div>
    }
  </div>
</div>
} @else {
<div class="py-5 my-4">
  
    <div class="Allcard">
      @for (Cardd of WishLisst; track Cardd._id) {
      <div class="cardProduct"> 
        <i class="fa-solid fa-heart HEART"></i>
        <div class="ChildDiv">
          <div class="iconss badge">
            <i (click)="Remove(Cardd._id)" class="fa-solid fa-trash fs-5 DElete"></i>
            <i
              [routerLink]="['/ProductDetailes', Cardd._id]"
              class="fa-solid fa-eye fs-4 eye"
            ></i>
          </div>
        </div>
        <div class="ShopCircle" (click)="addToCart(Cardd._id)">
          <i class="fa-solid fa-cart-shopping fs-3 p-2 shopping"></i>
        </div>
        <div class="AllCardInfo">
          <div>
            <div class="imgCard">
              <img class="w-100" [src]="Cardd.imageCover" alt="" />
            </div>
            <div class="AllInfo p-3">
              <div class="infoCard">
                <p class="h6 text-muted p-0">{{ Cardd.title | cut : 2 }}</p>
                <h5 class="">{{ Cardd.category.name }}</h5>
              </div>
              <div class="PriceAndStar pt-4">
                <h6 class="pt-3">{{ Cardd.price | currency : "USD" }}</h6>
                <div class="star">
                  @for (num of [1,2,3,4,5].slice(0,Cardd.ratingsAverage); track
                  $index) {
  
                  <span> <i class="fas fa-star rating-color"></i></span>}
                  @if(Cardd.ratingsAverage %1 !==0){
                  <i class="fa-solid fa-star-half-stroke rating-color star"></i> }
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      }
    </div>
  </div>
}