<div class="row">
  <div class="my-5 col-md-5">
    <div class="profile-container p-4 rounded bg-white">
      <div class="profile-header text-center">
        <h3 class="edit fw-bolder"><strong>Edit Password</strong></h3>
      </div>
      <hr />

      <form [formGroup]="changePasswordForm" (ngSubmit)="ChangePass()">
        <div class="row g-3">
          <div class="col-md-12">
            <label class="form-label">Current Password</label>
            <input 
              type="password" 
              class="form-control" 
              placeholder="Enter current password"
              formControlName="currentPassword"
            />
            <small class="text-danger" *ngIf="changePasswordForm.get('currentPassword')?.invalid && changePasswordForm.get('currentPassword')?.touched">

              Current password is required (min 6 characters).
            </small>
          </div>

          <div class="col-md-6">
            <label class="form-label">New Password</label>
            <input 
              type="password" 
              class="form-control" 
              placeholder="Enter new password"
              formControlName="password"
            />
            <small class="text-danger" *ngIf="changePasswordForm.get('password')?.invalid &&changePasswordForm.get('password')?.touched">
              New password must be at least 6 characters.
            </small>
          </div>

          <div class="col-md-6">
            <label class="form-label">Confirm New Password</label>
            <input 
              type="password" 
              class="form-control" 
              placeholder="Re-enter new password"
              formControlName="rePassword"
            />
            <small class="text-danger" *ngIf="changePasswordForm.get('rePassword')?.invalid && changePasswordForm.get('rePassword')?.touched">
              Passwords must match.
            </small>
          </div>
        </div>

        <div class="mt-4 d-flex justify-content-between">
          <button class="btn btn-edit w-50 me-2" type="submit" [disabled]="changePasswordForm.invalid">
            <i class="fa fa-edit"></i> Update
          </button>
          <button class="btn btn-cancel w-50" type="button" (click)="resetForm()">
            <i class="fa fa-times"></i> Cancel
          </button>
        </div>
      </form>
    </div>
  </div>

  <div class="col-md-4">
    <img class="imgUnDraw" src="/Imges/undraw_my-password_iyga.png" />
  </div>
</div>
