.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile-container {
    height: 410px;
    flex: 1;
}

.imgUnDraw {
    width: 612px;
    height: 430px !important;
    flex: 1;
}

/* الشاشات الأقل من 1200px */
@media (max-width: 1200px) {
    .profile-container {
        height: 410px !important;
        width: auto !important;
        max-width: 400px;
    }
}

/* الشاشات الأقل من 1086px */
@media (max-width: 1086px) {
    .profile-container {
        min-height: 440px;
        width: 100% !important;
    }
}

/* الشاشات الأقل من 800px */
@media (max-width: 800px) {
    .profile-container {
        width: 100% !important;
        max-width: 100% !important;
    }

    .row {
        flex-direction: column;
        align-items: center;
    }

    .col-md-5 {
        width: 100% !important;
    }

    .col-md-4 {
        display: none !important; /* إخفاء الصورة */
    }

    .imgUnDraw {
        display: none !important; /* إخفاء الصورة */
    }
}
