<div class="py-5 my-4">
  <div class="Allcard">
    @for (Cardd of CardProducts; track Cardd._id) {
    <div class="cardProduct">
      <div class="ChildDiv">
        <div class="iconss badge">
          <i
            [routerLink]="['/ProductDetailes', Cardd._id]"
            class="fa-solid fa-eye fs-4 eye"
          ></i>

          <i
            (click)="addToWishList(Cardd._id)"
            class="fa-regular fa-heart fs-4 heart"
          ></i>
        </div>
      </div>
      <div class="ShopCircle" (click)="addToCart(Cardd._id)">
        <i class="fa-solid fa-cart-shopping fs-3 p-2 shopping"></i>
      </div>
      <div class="AllCardInfo">
        <div>
          <div class="imgCard">
            <img class="w-100" [src]="Cardd.imageCover" alt="" />
          </div>
          <div class="AllInfo p-3">
            <div class="infoCard">
              <p class="h6 text-muted p-0">{{ Cardd.title | cut : 2 }}</p>
              <h5 class="">{{ Cardd.category.name }}</h5>
            </div>
            <div class="PriceAndStar pt-4">
              <h6 class="pt-3">{{ Cardd.price | currency : "USD" }}</h6>
              <div class="star">
                @for (num of [1,2,3,4,5].slice(0,Cardd.ratingsAverage); track
                $index) {

                <span> <i class="fas fa-star rating-color"></i></span>}
                @if(Cardd.ratingsAverage %1 !==0){
                <i class="fa-solid fa-star-half-stroke rating-color star"></i> }
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    }
  </div>
</div>
