
.active{
    color: var(--main-color);
    
}
.socialIcons{
    font-size: 20px;
    padding-left: 10px;
    color: var(--main-color);
    
}
.Person{
    z-index: 150;
    position: absolute;
    top: 60px;
    padding: 30px;
    right: 24px;
    width: 300px;
    box-shadow: rgba(0, 0, 0, 0.08) 1px 2px 10px;
    background-color: rgb(255, 255, 255);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 5px;
    outline: 0px;
    opacity: 0;
    transition: 1s opacity ease-in ,1s max-height ease-in-out;
    max-height: 0;
 
    
   overflow: hidden;
 
}


.Person.Show{
    opacity: 1;
    max-height: 500px;
    transition: 1s opacity ease-in, 1s  max-height ease-in-out;
  
}

.AvatarImg{
    background-color: var(--main-color);
    border-radius: 50%;
}
.btn-LogOut{
    background-color: var(--main-color);
       display: block; width: 100%;
         color: var(    --light-color);
         outline: none;
        padding: 8px; 
        border: none;
        border-radius: 10px;
}
.LogoSetting{
    
background-color: rgba(229, 251, 230, 0.697);
color: rgba(7, 215, 3, 0.541);
min-width: 40px;
width: 45px;
height: 45px;
justify-content: center;
display: flex; align-items: center;
padding: 6px 8px;
border-radius: 5px

}
.AccountData{
    
    color: rgb(119, 126, 137);
}
.AccountData :hover{
    color: rgba(108, 221, 98, 0.941);

    cursor: pointer;
}

.socialIcons:hover{
   

    cursor: pointer;
}
.ActiveIcon{
    box-shadow: rgba(0, 0, 0, 0.08) 1px 2px 10px;

    padding: 4px;
  
    border-radius: 4px;
}
.Shop{
    position: relative !important;
    margin-right: 10px;
 
}
.countt{
    position: absolute;
    width: 21px !important; height: 22px; 
    font-size: 17px;

    border-radius: 50%;
    color:white ; 
     top: -12px; left: 14px;
    background-color: var(--main-color);
}
.Heart{
    position: relative !important;
}
.counttH{
    position: absolute;
    width: 18px !important; height: 22px; 
    font-size: 17px;
    border-radius: 50%;
    color:white ; 
     top: -12px; left: 14px;
     background-color: rgb(225, 58, 58);
}

.menuResponsive{
    display: none;
}
.menueForResponsive {
    width: 0; 
    height: 0;
    background-color: rgb(245, 244, 244);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 150;
    display: none;
    transition:  1s width ease-in-out , 1s height  ease-in-out, .5s opacity  ease-in-out;
    opacity: 0;
    .list-unstyled {
        padding: 20px 60px!important;
    }
}
.menueForResponsive.Show{
    opacity: 1;
    width: 240px;
    display: flex;
   margin-top:60px;
   margin-right: 28px;
    height: 60px;
    border-radius: 20px;
    transition:  1s width ease-in-out , 1s height  ease-in-out, .5s opacity  ease-in-out;
   

}
.listMenue{
    height: 100%;
    width: 100%;
}
@media (max-width: 991.98px) { 
    .navResponsive{
        display: none;
    }
    .rightSide{
        display: none !important;
    }
    .menuResponsive{
        display: block;
    }
    nav{
        height: 800px;
    }
    .Shop{
        padding: 6PX;
    }
    .counttH{
        left: 16px;
        top: -5px;
    }
    .countt
    {
        left: 19px;
        top: -5px;

    }
 }


.fa-grip{
    font-size: 30px;
    color: var(--main-color);
}
.menu-container {
    position: absolute;
    width: 110px;
   max-height: 250px;
    top: 60px;
    left: -18px;
    background: white;
    border: 1px solid #ddd;
    border-radius: 7px;
    padding: 7px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    transition: 2s opacity ease-in, 1s  max-height ease-in-out;
  }
  
  .menu-container ul {
    padding: 0;
    margin: 0;
  }
  
  .menu-container li {
    list-style: none;
    padding: 10px;
  }
  
  .menu-container a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  .PersonalDataRES{
    padding-top: 10px !important;
    padding-right: 20px !important;
  }
 .socialIconsRes{
    font-size: 20px;
    padding-right: 20px !important;
    color: var(--main-color); 
 }
 .LogoSetting{
    width: 30px;
    height: 30px;
    padding: 0;
    margin: 0;
 }
 .LogOut{
    width: 100%;
 }
 .infoFrontofPhoto{
   padding-top: 10px !important;
   padding-bottom: 0px !important;
 }
 