.CategoryImage{
    padding: 10px;
    margin: 10px;
    border-radius: 14%;
  }
  .info{
    padding-top:10% ;
    margin: 10px;
  }
  .colorr{
      color: rgb(10, 173, 10) !important;
  }
  .bd{
      display: flex;
      width: 3px; height: 300px; background-color: rgba(98, 97, 97,0.2) !important;
      margin-top: 30px;
  }