.profile-container {
    max-width: 800px;
    height: 300px;
    margin: auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.avatarr {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.AvatarImg {
    width: 150px; /* تحديد الحجم المناسب للصورة */
    height: 150px;
    border-radius: 50%;
    border: 4px solid #ddd;
    object-fit: cover;
   
}



.profile-header {
    display: flex;
  justify-content: center;
    align-items: center;
    gap: 19px;   
    margin-top: 30px;
  
}
.edit{
    color: var(--main-color);
}
.profile-header img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 4px solid #ddd;
}

.btn-upload {
    background-color: #28a745;
    color: white;
    font-size: 16px;
    padding: 10px;
    margin-top: 30px;
}
.edit-icon {
    position: relative;
    top: -15px;
    left: -10px;
    background: white;
    border-radius: 50%;
    padding: 5px;
    border: 1px solid #ddd;
    cursor: pointer;
}
.btn-edit {
    background-color: var(--main-color);
    color: white;
    font-size: 18px;
}
.btn-cancel {
    background-color: #d9534f;
    color: white;
    font-size: 18px;
}
@media (max-width: 768px) {
    
   .all{
    display: flex;
    flex-direction: column;
   }
    .profile-container {
        width: 100% !important;
        padding: 15px;
        height: 100%;
        
    }

   .container{
    width: 100% !important;
   }
    .btn-edit,
    .btn-cancel {
        font-size: 14px;
        padding: 8px;
    }
} 
  