.cr{
    color: var(--main-color);
}
.OrderButton{
    margin-top: 8px !important;
    border-radius: 5px;
    border: none; 
    color: white;
   
    padding: 10px 50px;
    font-size: 16px; 
    cursor: pointer;
    background-color: var(--main-color) !important;
    &:hover{
      color: rgba(255, 255, 255,.8);
    }
  }
  .center{
    display: flex ;
    justify-content: center ;
    align-items: center ;
  }
  .Delete{
    
        margin-top: 20px !important;
        border-radius: 5px;
        border: none; 
        color: white;
       
        padding: 6px 10px;
        font-size: 16px; 
        cursor: pointer;
        background-color: rgb(188, 60, 60) !important;
        &:hover{
          color: rgba(255, 255, 255,.8);
        }
      
  }
  .colorr{
    color: rgb(10, 173, 10) !important;
}
.delete{
   
    border-radius: 5px;
    border: none; 
    color: white;
   
    padding: 9px 10px;
    font-size: 16px; 
    cursor: pointer;
    background-color: rgb(188, 60, 60) !important;
    &:hover{
      color: rgba(255, 255, 255,.8);
    }
  
}

.loader {
  margin-top:30px;
  width: 48px;
  height: 48px;
  border: 5px solid #FFF;
  border-bottom-color: var(--main-color);
  
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  }
.product-img {
  max-width: 80px; 
  height: auto;
}


@media (max-width: 768px) {
  .delete {
    width: 100px; 
     margin-top: 10px;
  }

  .OrderButton {
    width: 100%;
  }

  .colorr {
    font-size: 1rem; 
  }

  .fw-bolder {
    font-size: 0.9rem; 
  }

  .cr {
    font-size: 1.5rem; 
  }
}
@media (max-width: 768px) {
  .row.align-items-center {
    flex-direction: column;
    text-align: center;
  }
  .col-md-3, .col-md-2, .col-md-4 {
    margin-bottom: 10px;
  }
}

  