.Allcard {
    display: flex;
    flex-wrap: wrap;
    gap: 7px;
  }
  .cardProduct{
    background-color: rgb(255, 255, 255);
    color: rgba(0, 0, 0, 0.87);
    box-shadow: rgba(10, 173, 10, 0.15) 0px 8px 15px -5px,
      rgba(0, 0, 0, 0.2) 0px 4px 10px -6px;
   
    width: 300px;
    border-radius: 22px;
    margin: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    
  }

  .cardProduct:hover {
    cursor: pointer;
   
    .imgCard {
     
      img {
        transform: scale(1.1);
      }
    }
   
   
  }
  .AllInfo {
    margin: px;
   
  }
  .imgCard {
    
    
    height: 280px;
    img {
    
      width: 100%;
      background-position: center;
       height: 100%;
      object-fit: fill;
       transition:   transform .8s ease-in;;
    }
  }
  

@media (max-width: 1200px) {
  .Allcard {

    justify-content: space-around;
    
  }
}
@media (max-width: 1024px) {
  .Allcard {

    justify-content: center !important;
    
  }
  .cardProduct{
    width: 280px;
  }
}
@media (max-width: 600px) {

  .cardProduct{
    width: 350px;
  }
}
@media (max-width: 400px) {

  .cardProduct{
    width: 300px;
  }
}