<div *ngIf="step1" class="container mt-5 p-4 shadow-lg rounded-4 bg-white">
    <h1 class="fw-bolder text-center mb-4">Forgot Password</h1>
    <form (ngSubmit)="handelforgetpassword()" [formGroup]="forgetpasswordform">
        <div class="form-group mt-3">
            <label for="email" class="mb-2 fw-bold">Email Address</label>
            <input type="email" class="form-control inps" id="email" formControlName="email"
                placeholder="Enter your email" />
            <div *ngIf="forgetpasswordform.get('email')?.errors && forgetpasswordform.get('email')?.touched"
                class="text-danger mt-1">
                <span *ngIf="forgetpasswordform.get('email')?.errors?.['required']">Email is required</span>
                <span *ngIf="forgetpasswordform.get('email')?.errors?.['email']">Invalid email format</span>
            </div>
            <span class="text-danger mt-1">{{ message }}</span>
        </div>

        <button class="btn colorr w-100 mt-3" [disabled]="!forgetpasswordform.valid || isloading" type="submit">
            <span *ngIf="!isloading">Confirm</span>
            <span *ngIf="isloading" class="spinner-border spinner-border-sm" role="status"
                aria-hidden="true"></span>
            <span *ngIf="isloading">Loading...</span>
        </button>

       
    </form>
</div>

<!-- Step Two: Verification Code -->
<section class="container mt-5 p-4 shadow-lg rounded-4 bg-white" *ngIf="step2">
    <h3 class="text-center">Enter Verification Code</h3>
    <p class="text-center">A verification code has been sent to your email.</p>

    <form (ngSubmit)="hanelResetCode()" [formGroup]="ResetCodeform">
        <div class="form-group mt-3">
            <label for="Code" class="mb-2 fw-bold">Verification Code</label>
            <input type="tel" class="form-control inps text-center" id="Code" formControlName="resetCode"
                placeholder="Enter the code" />
            <div *ngIf="ResetCodeform.get('resetCode')?.errors && ResetCodeform.get('resetCode')?.touched"
                class="text-danger mt-1">
                <span *ngIf="ResetCodeform.get('resetCode')?.errors?.['required']">Code is required</span>
            </div>
            <span class="text-danger mt-1">{{ message }}</span>
        </div>

        <button class="btn colorr w-100 mt-3" [disabled]="!ResetCodeform.valid || isloading" type="submit">
            <span *ngIf="!isloading">Confirm</span>
            <span *ngIf="isloading" class="spinner-border spinner-border-sm" role="status"
                aria-hidden="true"></span>
            <span *ngIf="isloading">Loading...</span>
        </button>
    </form>
</section>

<!-- Step Three: Reset Password -->
<section class="container mt-5 p-4 shadow-lg rounded-4 bg-white" *ngIf="step3">
    <h3 class="text-center">Create a New Password</h3>
    <p class="text-center">Set a strong password to keep your account secure.</p>

    <form (ngSubmit)="handelnewPassword()" [formGroup]="newPasswordform">
        <div class="form-group mt-3">
            <label for="email" class="mb-2 fw-bold">Email Address</label>
            <input type="email" class="form-control inps" id="email" formControlName="email"
                placeholder="Enter your email" />
            <div *ngIf="newPasswordform.get('email')?.errors && newPasswordform.get('email')?.touched"
                class="text-danger mt-1">
                <span *ngIf="newPasswordform.get('email')?.errors?.['required']">Email is required</span>
                <span *ngIf="newPasswordform.get('email')?.errors?.['email']">Invalid email format</span>
            </div>
        </div>

        <div class="form-group mt-3">
            <label for="password" class="mb-2 fw-bold">New Password</label>
            <input type="password" class="form-control inps" id="password" formControlName="newPassword"
                placeholder="Enter a new password" />
            <div *ngIf="newPasswordform.get('newPassword')?.errors && newPasswordform.get('newPassword')?.touched"
                class="text-danger mt-1">
                <span *ngIf="newPasswordform.get('newPassword')?.errors?.['required']">Password is required</span>
                <span *ngIf="newPasswordform.get('newPassword')?.errors?.['pattern']">Invalid password format</span>
            </div>
        </div>

        <button class="btn colorr w-100 mt-3" [disabled]="!newPasswordform.valid || isloading" type="submit">
            <span *ngIf="!isloading">Confirm</span>
            <span *ngIf="isloading" class="spinner-border spinner-border-sm" role="status"
                aria-hidden="true"></span>
            <span *ngIf="isloading">Loading...</span>
        </button>
    </form>
</section>
