.footer{
  background-color: #151414;
 
}
.Contacts{
   display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding:20px ;
}
.icon{
    color: var( --main-color);
    margin-top: 15px;
}
.footerRes{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px 20px;
}
.US{
    color: white !important;
    display: flex;
    gap: 10px;
   
}
.pmute{
    color: gray !important;
}
.Part{
    color: white !important;
   
    width: 100%;
    max-width: calc((100% - 250px) / 3);
    min-width: 250px;
}
.iconss {
    display: flex;
        
    gap: 15px; /* المسافة بين الأيقونات */
  }
  
  .iconss i {
    color: white; /* لون الأيقونات */

    width: 44px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50% !important;
    
  }
  
  .iconss i:hover {
    cursor: pointer;
    opacity: 0.8;
  }
  .instagram {
    background: linear-gradient(45deg, #833AB4, #FD1D1D, #FCB045);
    border-radius: 50%;
  }
  .twitter {
    background-color: #1DA1F2;
    border-radius: 50%;
  }
  .facebook {
    background-color: #1877F2;
    border-radius: 50%;
  }
  .linee{
     background-color:var(--main-color);
     width: 100px; height: 2px;

  }
.info1,.info2{

    .pmute:hover {
        cursor: pointer;
       color:var(--main-color) !important;
    }
  }
  .Second{
    display: flex;
    gap: 30px;
  }
  .Inputt{
    background-color: gray;
    color: whitesmoke;
    padding: 14px; 
    border: 1px gray solid;
  }
  .send{
    background-color: var(--main-color);
    width: 60px; height: 54.5px; 
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover{
        cursor: pointer;
    }
  }

  .EEnnd {
    background-color: rgb(98, 97, 97);
    text-align: center;
     padding: 5px;
    width: 100%;
    bottom: 0;
}


.author {
    color:var(--main-color);
    font-weight: bold;
}
.greyLine{
    background-color: gray;
    width: 100%; height: 2px;
}


@media (max-width : 768px) {
  .footerRes{
    justify-content: center;
    align-items: start;
  }
}