<footer class="footer mb-0 pb-0 p-0 m-0">
  <div class="">
    <div class="Contacts my-1">
      <div class="US">
        <div class="icon">
          <i class="fa-solid fs-2 fa-location-dot"></i>
        </div>
        <div class="Info">
          <strong> <h4>Find Us</h4></strong>

          <p class="pmute">Egypt, alexandria</p>
        </div>
      </div>
      <div class="US">
        <div class="icon">
          <i class="fa-solid fs-2 fa-phone"></i>
        </div>
        <div class="Info">
          <strong> <h4>Call us</h4></strong>

          <p class="pmute">01278746444</p>
        </div>
      </div>
      <div class="US">
        <div class="icon">
          <i class="fa-regular fs-2 fa-envelope"></i>
        </div>
        <div class="Info">
          <strong> <h4>Mail us</h4></strong>

          <p class="pmute">dev&#64;mayora.com</p>
        </div>
      </div>
    </div>
    <div class="greyLine"></div>
    <div class="Contacts footerRes End">
      <div class="Part">
        <div class="First p-2">
          <img
            src="https://e-commerce-website-angular-seven.vercel.app/assets/images/logo.png"
            alt=""
          />
        </div>
        <div class="Second">
          <p class="pmute">
            Lorem ipsum dolor sit amet, consec tetur adipisicing elit, sed do
            eiusmod tempor incididuntut consec tetur adipisicing elit,Lorem
            ipsum dolor sit amet.
          </p>
        </div>
        <div class="third">
          <div class="follow pt-2">
            <h3><strong>Follow Us</strong></h3>
          </div>
          <div class="iconss">
            <div class="facebook">
              <i class="fab fs-5 fa-facebook-f"></i>
            </div>
            <div class="instagram">
              <i class="fab fs-5 fa-instagram"></i>
            </div>
            <div class="twitter">
              <i class="fab fs-5 fa-twitter"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="Part">
        <div class="First p-2">
          <h3><strong>Useful Links</strong></h3>
          <div class="linee"></div>
        </div>
        <div class="Second">
          <div class="info1 pt-4">
            <h5 class="pmute m-0 p-1 h6 m-0 p-0 h6">Home</h5>
            <h5
              routerLink="/Brands"
              routerLinkActive="router-link-active"
              class="pmute m-0 p-1 h6"
            >
              services
            </h5>
            <h5 class="pmute m-0 p-1 h6">Contact</h5>
            <h5 class="pmute m-0 p-1 h6">Our Services</h5>
            <h5 class="pmute m-0 p-1 h6">Contact us</h5>
          </div>
          <div class="info2 pt-4">
            <h5 class="pmute m-0 p-1 h6 m-0 h6">aAbout</h5>
            <h5 class="pmute m-0 p-1 h6">Portfolio</h5>
            <h5 class="pmute m-0 p-1 h6">About Us</h5>
            <h5 class="pmute m-0 p-1 h6">Expert Team</h5>
            <h5 class="pmute m-0 p-1 h6">Latest News</h5>
          </div>
        </div>
      </div>
      <div class="Part">
        <div class="First p-2">
          <h3><strong>Subscribe</strong></h3>
          <div class="linee"></div>
        </div>

        <h5 class="pmute m-0 p-1 h6 m-0 p-0 h6">
          Don’t miss to subscribe to our new feeds, kindly fill the form below.
        </h5>

        <div class="info2 pt-4 d-flex">
          <input type="text" placeholder="EmailAddress" class="Inputt" />
          <div class="send m-0 p-0">
            <i class="fab fs-1 fa-telegram"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer class="EEnnd pb-0">
    <h6 class="m-0">
      Copyright &copy; Feb 6, 2025 All Rights Reserved
      <span class="author">Mayar Mohsen</span>
    </h6>
  </footer>
</footer>
